@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --red: #d01c28;
  --gray: #2e2e2e;
  --green:  #128960;
  --yellow: #FFA500;
}

* {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
}

nav {
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 72px;
  
}

nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

.btn-sec li{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.search-icon{
  font-size: 36px;
  color: var(--green);
}

.logo{
  display: flex;
  justify-content:space-between;
  align-items: center;
  
    
}

.logo span{
    color: var(--yellow);
    font-size: 40px;
    font-weight:bolder;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-right: 10px;
}

.logo-text{
    color: var(--green);
}

button {
  all: unset;
  height: 32px;
  color: rgb(12, 10, 10);
  font-weight: 500;
  
}

.middle-button {
padding:1px 35px;
background: var(--green);
border-radius: 25px;
color: white;
}

nav ul select{
  background: none;
  border: none;
  padding-left: 0;
  padding-right: 0;
  
}

/* Nav End */


/* Hero In */

.hero-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh-72px);
  margin: 0 auto;
  max-width: 1200px;
  background: #f5f3f3;
  border-radius: 25px;
  
}


.text-div{
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  
}

.text-div h1 {
  font-weight: 900;
  font-size: 50px;
  margin-top: 50px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}  


.color-div{
  margin-top: 25px;
  background:var(--yellow);
  width:fit-content;
  height: 50px;
  font-size: 35px;
  font-weight: 700;
  color: white;
  border-radius: 100px;
  padding-top: 3px;
  padding-right: 40px;
  padding-bottom: 3px;
  padding-left: 40px;

}

.small-text{
  font-size: small;
  margin-top: 20px;
}

.button-div{
  margin-top: 30px;
  display: flex;
  font-size: small;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  
}

.play-button{

font-size: 15px;
color: var(--yellow);
background:rgb(228, 219, 219);
padding: 4px 10px;
border-radius: 50%;

}

.number-div{
 margin-top: 60px;
 gap: 40px;
 display: flex;
 flex-direction: row;
 margin-bottom: 30px;
}

.number-div h3{
color: var(--green);
font-weight: 600;

}

.number-div p{
font-size: small;
}

.image-div{
 position: relative;
 width: 50%;
}

.image-div img{
 width: 80%;
 margin-left: 100px;
 
}

.girl-image{
    position: absolute;
    bottom: 50px;
    left: 25px;
    z-index: 100;
    transform: scale(1.30);
}


.image-size{

  height: 400px;
  width: 400px; 
}

.extra-bg{
    position: absolute;
    top: -150px;
    left: 250px;
    z-index: 200;
    transform: scale(0.12, 0.30);
    opacity: .25;
}





















































